.radix-themes {
  --colors-tomato-1: #fffcfc;
  --colors-tomato-2: #fff8f7;
  --colors-tomato-3: #feebe7;
  --colors-tomato-4: #ffdcd3;
  --colors-tomato-5: #ffcdc2;
  --colors-tomato-6: #fdbdaf;
  --colors-tomato-7: #f5a898;
  --colors-tomato-8: #ec8e7b;
  --colors-tomato-9: #e54d2e;
  --colors-tomato-10: #dd4425;
  --colors-tomato-11: #d13415;
  --colors-tomato-12: #5c271f;
  --colors-red-1: #fffcfc;
  --colors-red-2: #fff7f7;
  --colors-red-3: #feebec;
  --colors-red-4: #ffdbdc;
  --colors-red-5: #ffcdce;
  --colors-red-6: #fdbdbe;
  --colors-red-7: #f4a9aa;
  --colors-red-8: #eb8e90;
  --colors-red-9: #e5484d;
  --colors-red-10: #dc3e42;
  --colors-red-11: #ce2c31;
  --colors-red-12: #641723;
  --colors-crimson-1: #fffcfd;
  --colors-crimson-2: #fef7f9;
  --colors-crimson-3: #ffe9f0;
  --colors-crimson-4: #fedce7;
  --colors-crimson-5: #facedd;
  --colors-crimson-6: #f3bed1;
  --colors-crimson-7: #eaacc3;
  --colors-crimson-8: #e093b2;
  --colors-crimson-9: #e93d82;
  --colors-crimson-10: #df3478;
  --colors-crimson-11: #cb1d63;
  --colors-crimson-12: #621639;
  --colors-pink-1: #fffcfe;
  --colors-pink-2: #fef7fb;
  --colors-pink-3: #fee9f5;
  --colors-pink-4: #fbdcef;
  --colors-pink-5: #f6cee7;
  --colors-pink-6: #efbfdd;
  --colors-pink-7: #e7acd0;
  --colors-pink-8: #dd93c2;
  --colors-pink-9: #d6409f;
  --colors-pink-10: #cf3897;
  --colors-pink-11: #c2298a;
  --colors-pink-12: #651249;
  --colors-plum-1: #fefcff;
  --colors-plum-2: #fdf7fd;
  --colors-plum-3: #fbebfb;
  --colors-plum-4: #f7def8;
  --colors-plum-5: #f2d1f3;
  --colors-plum-6: #e9c2ec;
  --colors-plum-7: #deade3;
  --colors-plum-8: #cf91d8;
  --colors-plum-9: #ab4aba;
  --colors-plum-10: #a144af;
  --colors-plum-11: #953ea3;
  --colors-plum-12: #53195d;
  --colors-purple-1: #fefcfe;
  --colors-purple-2: #fbf7fe;
  --colors-purple-3: #f7edfe;
  --colors-purple-4: #f2e2fc;
  --colors-purple-5: #ead5f9;
  --colors-purple-6: #e0c4f4;
  --colors-purple-7: #d1afec;
  --colors-purple-8: #be93e4;
  --colors-purple-9: #8e4ec6;
  --colors-purple-10: #8347b9;
  --colors-purple-11: #8145b5;
  --colors-purple-12: #402060;
  --colors-violet-1: #fdfcfe;
  --colors-violet-2: #faf8ff;
  --colors-violet-3: #f4f0fe;
  --colors-violet-4: #ebe4ff;
  --colors-violet-5: #e1d9ff;
  --colors-violet-6: #d4cafe;
  --colors-violet-7: #c2b5f5;
  --colors-violet-8: #aa99ec;
  --colors-violet-9: #6e56cf;
  --colors-violet-10: #654dc4;
  --colors-violet-11: #6550b9;
  --colors-violet-12: #2f265f;
  --colors-indigo-1: #fdfdfe;
  --colors-indigo-2: #f7f9ff;
  --colors-indigo-3: #edf2fe;
  --colors-indigo-4: #e1e9ff;
  --colors-indigo-5: #d2deff;
  --colors-indigo-6: #c1d0ff;
  --colors-indigo-7: #abbdf9;
  --colors-indigo-8: #8da4ef;
  --colors-indigo-9: #3e63dd;
  --colors-indigo-10: #3358d4;
  --colors-indigo-11: #3a5bc7;
  --colors-indigo-12: #1f2d5c;
  --colors-blue-1: #fbfdff;
  --colors-blue-2: #f4faff;
  --colors-blue-3: #e6f4fe;
  --colors-blue-4: #d5efff;
  --colors-blue-5: #c2e5ff;
  --colors-blue-6: #acd8fc;
  --colors-blue-7: #8ec8f6;
  --colors-blue-8: #5eb1ef;
  --colors-blue-9: #0090ff;
  --colors-blue-10: #0588f0;
  --colors-blue-11: #0d74ce;
  --colors-blue-12: #113264;
  --colors-cyan-1: #fafdfe;
  --colors-cyan-2: #f2fafb;
  --colors-cyan-3: #def7f9;
  --colors-cyan-4: #caf1f6;
  --colors-cyan-5: #b5e9f0;
  --colors-cyan-6: #9ddde7;
  --colors-cyan-7: #7dcedc;
  --colors-cyan-8: #3db9cf;
  --colors-cyan-9: #00a2c7;
  --colors-cyan-10: #0797b9;
  --colors-cyan-11: #107d98;
  --colors-cyan-12: #0d3c48;
  --colors-teal-1: #fafefd;
  --colors-teal-2: #f3fbf9;
  --colors-teal-3: #e0f8f3;
  --colors-teal-4: #ccf3ea;
  --colors-teal-5: #b8eae0;
  --colors-teal-6: #a1ded2;
  --colors-teal-7: #83cdc1;
  --colors-teal-8: #53b9ab;
  --colors-teal-9: #12a594;
  --colors-teal-10: #0d9b8a;
  --colors-teal-11: #008573;
  --colors-teal-12: #0d3d38;
  --colors-green-1: #fbfefc;
  --colors-green-2: #f4fbf6;
  --colors-green-3: #e6f6eb;
  --colors-green-4: #d6f1df;
  --colors-green-5: #c4e8d1;
  --colors-green-6: #adddc0;
  --colors-green-7: #8eceaa;
  --colors-green-8: #5bb98b;
  --colors-green-9: #30a46c;
  --colors-green-10: #2b9a66;
  --colors-green-11: #218358;
  --colors-green-12: #193b2d;
  --colors-grass-1: #fbfefb;
  --colors-grass-2: #f5fbf5;
  --colors-grass-3: #e9f6e9;
  --colors-grass-4: #daf1db;
  --colors-grass-5: #c9e8ca;
  --colors-grass-6: #b2ddb5;
  --colors-grass-7: #94ce9a;
  --colors-grass-8: #65ba74;
  --colors-grass-9: #46a758;
  --colors-grass-10: #3e9b4f;
  --colors-grass-11: #2a7e3b;
  --colors-grass-12: #203c25;
  --colors-orange-1: #fefcfb;
  --colors-orange-2: #fff7ed;
  --colors-orange-3: #ffefd6;
  --colors-orange-4: #ffdfb5;
  --colors-orange-5: #ffd19a;
  --colors-orange-6: #ffc182;
  --colors-orange-7: #f5ae73;
  --colors-orange-8: #ec9455;
  --colors-orange-9: #f76b15;
  --colors-orange-10: #ef5f00;
  --colors-orange-11: #cc4e00;
  --colors-orange-12: #582d1d;
  --colors-brown-1: #fefdfc;
  --colors-brown-2: #fcf9f6;
  --colors-brown-3: #f6eee7;
  --colors-brown-4: #f0e4d9;
  --colors-brown-5: #ebdaca;
  --colors-brown-6: #e4cdb7;
  --colors-brown-7: #dcbc9f;
  --colors-brown-8: #cea37e;
  --colors-brown-9: #ad7f58;
  --colors-brown-10: #a07553;
  --colors-brown-11: #815e46;
  --colors-brown-12: #3e332e;
  --colors-sky-1: #f9feff;
  --colors-sky-2: #f1fafd;
  --colors-sky-3: #e1f6fd;
  --colors-sky-4: #d1f0fa;
  --colors-sky-5: #bee7f5;
  --colors-sky-6: #a9daed;
  --colors-sky-7: #8dcae3;
  --colors-sky-8: #60b3d7;
  --colors-sky-9: #7ce2fe;
  --colors-sky-10: #74daf8;
  --colors-sky-11: #00749e;
  --colors-sky-12: #1d3e56;
  --colors-mint-1: #f9fefd;
  --colors-mint-2: #f2fbf9;
  --colors-mint-3: #ddf9f2;
  --colors-mint-4: #c8f4e9;
  --colors-mint-5: #b3ecde;
  --colors-mint-6: #9ce0d0;
  --colors-mint-7: #7ecfbd;
  --colors-mint-8: #4cbba5;
  --colors-mint-9: #86ead4;
  --colors-mint-10: #7de0cb;
  --colors-mint-11: #027864;
  --colors-mint-12: #16433c;
  --colors-lime-1: #fcfdfa;
  --colors-lime-2: #f8faf3;
  --colors-lime-3: #eef6d6;
  --colors-lime-4: #e2f0bd;
  --colors-lime-5: #d3e7a6;
  --colors-lime-6: #c2da91;
  --colors-lime-7: #abc978;
  --colors-lime-8: #8db654;
  --colors-lime-9: #bdee63;
  --colors-lime-10: #b0e64c;
  --colors-lime-11: #5c7c2f;
  --colors-lime-12: #37401c;
  --colors-yellow-1: #fdfdf9;
  --colors-yellow-2: #fefce9;
  --colors-yellow-3: #fffab8;
  --colors-yellow-4: #fff394;
  --colors-yellow-5: #ffe770;
  --colors-yellow-6: #f3d768;
  --colors-yellow-7: #e4c767;
  --colors-yellow-8: #d5ae39;
  --colors-yellow-9: #ffe629;
  --colors-yellow-10: #ffdc00;
  --colors-yellow-11: #9e6c00;
  --colors-yellow-12: #473b1f;
  --colors-amber-1: #fefdfb;
  --colors-amber-2: #fefbe9;
  --colors-amber-3: #fff7c2;
  --colors-amber-4: #ffee9c;
  --colors-amber-5: #fbe577;
  --colors-amber-6: #f3d673;
  --colors-amber-7: #e9c162;
  --colors-amber-8: #e2a336;
  --colors-amber-9: #ffc53d;
  --colors-amber-10: #ffba18;
  --colors-amber-11: #ab6400;
  --colors-amber-12: #4f3422;
  --colors-gray-1: #fcfcfc;
  --colors-gray-2: #f9f9f9;
  --colors-gray-3: #f0f0f0;
  --colors-gray-4: #e8e8e8;
  --colors-gray-5: #e0e0e0;
  --colors-gray-6: #d9d9d9;
  --colors-gray-7: #cecece;
  --colors-gray-8: #bbbbbb;
  --colors-gray-9: #8d8d8d;
  --colors-gray-10: #838383;
  --colors-gray-11: #646464;
  --colors-gray-12: #202020;
  --colors-mauve-1: #fdfcfd;
  --colors-mauve-2: #faf9fb;
  --colors-mauve-3: #f2eff3;
  --colors-mauve-4: #eae7ec;
  --colors-mauve-5: #e3dfe6;
  --colors-mauve-6: #dbd8e0;
  --colors-mauve-7: #d0cdd7;
  --colors-mauve-8: #bcbac7;
  --colors-mauve-9: #8e8c99;
  --colors-mauve-10: #84828e;
  --colors-mauve-11: #65636d;
  --colors-mauve-12: #211f26;
  --colors-slate-1: #fcfcfd;
  --colors-slate-2: #f9f9fb;
  --colors-slate-3: #f0f0f3;
  --colors-slate-4: #e8e8ec;
  --colors-slate-5: #e0e1e6;
  --colors-slate-6: #d9d9e0;
  --colors-slate-7: #cdced6;
  --colors-slate-8: #b9bbc6;
  --colors-slate-9: #8b8d98;
  --colors-slate-10: #80838d;
  --colors-slate-11: #60646c;
  --colors-slate-12: #1c2024;
  --colors-sage-1: #fbfdfc;
  --colors-sage-2: #f7f9f8;
  --colors-sage-3: #eef1f0;
  --colors-sage-4: #e6e9e8;
  --colors-sage-5: #dfe2e0;
  --colors-sage-6: #d7dad9;
  --colors-sage-7: #cbcfcd;
  --colors-sage-8: #b8bcba;
  --colors-sage-9: #868e8b;
  --colors-sage-10: #7c8481;
  --colors-sage-11: #5f6563;
  --colors-sage-12: #1a211e;
  --colors-olive-1: #fcfdfc;
  --colors-olive-2: #f8faf8;
  --colors-olive-3: #eff1ef;
  --colors-olive-4: #e7e9e7;
  --colors-olive-5: #dfe2df;
  --colors-olive-6: #d7dad7;
  --colors-olive-7: #cccfcc;
  --colors-olive-8: #b9bcb8;
  --colors-olive-9: #898e87;
  --colors-olive-10: #7f847d;
  --colors-olive-11: #60655f;
  --colors-olive-12: #1d211c;
  --colors-sand-1: #fdfdfc;
  --colors-sand-2: #f9f9f8;
  --colors-sand-3: #f1f0ef;
  --colors-sand-4: #e9e8e6;
  --colors-sand-5: #e2e1de;
  --colors-sand-6: #dad9d6;
  --colors-sand-7: #cfceca;
  --colors-sand-8: #bcbbb5;
  --colors-sand-9: #8d8d86;
  --colors-sand-10: #82827c;
  --colors-sand-11: #63635e;
  --colors-sand-12: #21201c;
  --colors-bronze-1: #fdfcfc;
  --colors-bronze-2: #fdf7f5;
  --colors-bronze-3: #f6edea;
  --colors-bronze-4: #efe4df;
  --colors-bronze-5: #e7d9d3;
  --colors-bronze-6: #dfcdc5;
  --colors-bronze-7: #d3bcb3;
  --colors-bronze-8: #c2a499;
  --colors-bronze-9: #a18072;
  --colors-bronze-10: #957468;
  --colors-bronze-11: #7d5e54;
  --colors-bronze-12: #43302b;
  --colors-gold-1: #fdfdfc;
  --colors-gold-2: #faf9f2;
  --colors-gold-3: #f2f0e7;
  --colors-gold-4: #eae6db;
  --colors-gold-5: #e1dccf;
  --colors-gold-6: #d8d0bf;
  --colors-gold-7: #cbc0aa;
  --colors-gold-8: #b9a88d;
  --colors-gold-9: #978365;
  --colors-gold-10: #8c7a5e;
  --colors-gold-11: #71624b;
  --colors-gold-12: #3b352b;
  --overlays-black-alpha-1: #000000;
  --overlays-black-alpha-2: #000000;
  --overlays-black-alpha-3: #000000;
  --overlays-black-alpha-4: #000000;
  --overlays-black-alpha-5: #000000;
  --overlays-black-alpha-6: #000000;
  --overlays-black-alpha-7: #000000;
  --overlays-black-alpha-8: #000000;
  --overlays-black-alpha-9: #000000;
  --overlays-black-alpha-10: #000000;
  --overlays-black-alpha-11: #000000;
  --overlays-black-alpha-12: #000000;
  --colors-tomato-alpha-1: #ff0000;
  --colors-tomato-alpha-2: #ff2000;
  --colors-tomato-alpha-3: #f52b00;
  --colors-tomato-alpha-4: #ff3500;
  --colors-tomato-alpha-5: #ff2e00;
  --colors-tomato-alpha-6: #f92d00;
  --colors-tomato-alpha-7: #e72800;
  --colors-tomato-alpha-8: #db2500;
  --colors-tomato-alpha-9: #df2600;
  --colors-tomato-alpha-10: #d72400;
  --colors-tomato-alpha-11: #cd2200;
  --colors-tomato-alpha-12: #460900;
  --colors-purple-alpha-1: #aa00aa;
  --colors-purple-alpha-2: #8000e0;
  --colors-purple-alpha-3: #8e00f1;
  --colors-purple-alpha-4: #8d00e5;
  --colors-purple-alpha-5: #8000db;
  --colors-purple-alpha-6: #7a01d0;
  --colors-purple-alpha-7: #6d00c3;
  --colors-purple-alpha-8: #6600c0;
  --colors-purple-alpha-9: #5c00ad;
  --colors-purple-alpha-10: #53009e;
  --colors-purple-alpha-11: #52009a;
  --colors-purple-alpha-12: #250049;
  --colors-violet-alpha-1: #5500aa;
  --colors-violet-alpha-2: #4900ff;
  --colors-violet-alpha-3: #4400ee;
  --colors-violet-alpha-4: #4300ff;
  --colors-violet-alpha-5: #3600ff;
  --colors-violet-alpha-6: #3100fb;
  --colors-violet-alpha-7: #2d01dd;
  --colors-violet-alpha-8: #2b00d0;
  --colors-violet-alpha-9: #2400b7;
  --colors-violet-alpha-10: #2300ab;
  --colors-violet-alpha-11: #1f0099;
  --colors-violet-alpha-12: #0b0043;
  --colors-indigo-alpha-1: #000080;
  --colors-indigo-alpha-2: #0040ff;
  --colors-indigo-alpha-3: #0047f1;
  --colors-indigo-alpha-4: #0044ff;
  --colors-indigo-alpha-5: #0044ff;
  --colors-indigo-alpha-6: #003eff;
  --colors-indigo-alpha-7: #0037ed;
  --colors-indigo-alpha-8: #0034dc;
  --colors-indigo-alpha-9: #0031d2;
  --colors-indigo-alpha-10: #002ec9;
  --colors-indigo-alpha-11: #002bb7;
  --colors-indigo-alpha-12: #001046;
  --colors-blue-alpha-1: #0080ff;
  --colors-blue-alpha-2: #008cff;
  --colors-blue-alpha-3: #008ff5;
  --colors-blue-alpha-4: #009eff;
  --colors-blue-alpha-5: #0093ff;
  --colors-blue-alpha-6: #0088f6;
  --colors-blue-alpha-7: #0083eb;
  --colors-blue-alpha-8: #0084e6;
  --colors-blue-alpha-9: #0090ff;
  --colors-blue-alpha-10: #0086f0;
  --colors-blue-alpha-11: #006dcb;
  --colors-blue-alpha-12: #5b5c5d;
  --colors-cyan-alpha-1: #0099cc;
  --colors-cyan-alpha-2: #009db1;
  --colors-cyan-alpha-3: #00c2d1;
  --colors-cyan-alpha-4: #00bcd4;
  --colors-cyan-alpha-5: #01b4cc;
  --colors-cyan-alpha-6: #00a7c1;
  --colors-cyan-alpha-7: #009fbb;
  --colors-cyan-alpha-8: #00a3c0;
  --colors-cyan-alpha-9: #00a2c7;
  --colors-cyan-alpha-10: #0094b7;
  --colors-cyan-alpha-11: #007491;
  --colors-cyan-alpha-12: #00323e;
  --colors-teal-alpha-1: #00cc99;
  --colors-teal-alpha-2: #00aa80;
  --colors-teal-alpha-3: #00c69d;
  --colors-teal-alpha-4: #00c396;
  --colors-teal-alpha-5: #00b490;
  --colors-teal-alpha-6: #00a685;
  --colors-teal-alpha-7: #009980;
  --colors-teal-alpha-8: #009783;
  --colors-teal-alpha-9: #009e8c;
  --colors-teal-alpha-10: #009684;
  --colors-teal-alpha-11: #008573;
  --colors-teal-alpha-12: #00332d;
  --colors-green-alpha-1: #00c040;
  --colors-green-alpha-2: #00a32f;
  --colors-green-alpha-3: #00a433;
  --colors-green-alpha-4: #00a838;
  --colors-green-alpha-5: #019c39;
  --colors-green-alpha-6: #00963c;
  --colors-green-alpha-7: #009140;
  --colors-green-alpha-8: #00924b;
  --colors-green-alpha-9: #008f4a;
  --colors-green-alpha-10: #008647;
  --colors-green-alpha-11: #00713f;
  --colors-green-alpha-12: #002616;
  --colors-grass-alpha-1: #00c000;
  --colors-grass-alpha-2: #009900;
  --colors-grass-alpha-3: #009700;
  --colors-grass-alpha-4: #009f07;
  --colors-grass-alpha-5: #009305;
  --colors-grass-alpha-6: #008f0a;
  --colors-grass-alpha-7: #018b0f;
  --colors-grass-alpha-8: #008d19;
  --colors-grass-alpha-9: #008619;
  --colors-grass-alpha-10: #007b17;
  --colors-grass-alpha-11: #006514;
  --colors-grass-alpha-12: #002006;
  --colors-orange-alpha-1: #c04000;
  --colors-orange-alpha-2: #ff8e00;
  --colors-orange-alpha-3: #ff9c00;
  --colors-orange-alpha-4: #ff9101;
  --colors-orange-alpha-5: #ff8b00;
  --colors-orange-alpha-6: #ff8100;
  --colors-orange-alpha-7: #ed6c00;
  --colors-orange-alpha-8: #e35f00;
  --colors-orange-alpha-9: #f65e00;
  --colors-orange-alpha-10: #ef5f00;
  --colors-orange-alpha-11: #cc4e00;
  --colors-orange-alpha-12: #431200;
  --colors-brown-alpha-1: #aa5500;
  --colors-brown-alpha-2: #aa5500;
  --colors-brown-alpha-3: #a04b00;
  --colors-brown-alpha-4: #9b4a00;
  --colors-brown-alpha-5: #9f4d00;
  --colors-brown-alpha-6: #a04e00;
  --colors-brown-alpha-7: #a34e00;
  --colors-brown-alpha-8: #9f4a00;
  --colors-brown-alpha-9: #823c00;
  --colors-brown-alpha-10: #723300;
  --colors-brown-alpha-11: #522100;
  --colors-brown-alpha-12: #140600;
  --colors-red-alpha-1: #ff0000;
  --colors-red-alpha-2: #ff0000;
  --colors-red-alpha-3: #f3000d;
  --colors-red-alpha-4: #ff0008;
  --colors-red-alpha-5: #ff0006;
  --colors-red-alpha-6: #f80004;
  --colors-red-alpha-7: #df0003;
  --colors-red-alpha-8: #d20005;
  --colors-red-alpha-9: #db0007;
  --colors-red-alpha-10: #d10005;
  --colors-red-alpha-11: #c40006;
  --colors-red-alpha-12: #55000d;
  --colors-crimson-alpha-1: #ff0055;
  --colors-crimson-alpha-2: #e00040;
  --colors-crimson-alpha-3: #ff0052;
  --colors-crimson-alpha-4: #f80051;
  --colors-crimson-alpha-5: #e5004f;
  --colors-crimson-alpha-6: #d0004b;
  --colors-crimson-alpha-7: #bf0047;
  --colors-crimson-alpha-8: #b6004a;
  --colors-crimson-alpha-9: #e2005b;
  --colors-crimson-alpha-10: #d70056;
  --colors-crimson-alpha-11: #c4004f;
  --colors-crimson-alpha-12: #530026;
  --colors-pink-alpha-1: #ff00aa;
  --colors-pink-alpha-2: #e00080;
  --colors-pink-alpha-3: #f4008c;
  --colors-pink-alpha-4: #e2008b;
  --colors-pink-alpha-5: #d10083;
  --colors-pink-alpha-6: #c00078;
  --colors-pink-alpha-7: #b6006f;
  --colors-pink-alpha-8: #af006f;
  --colors-pink-alpha-9: #c8007f;
  --colors-pink-alpha-10: #c2007a;
  --colors-pink-alpha-11: #b60074;
  --colors-pink-alpha-12: #59003b;
  --colors-plum-alpha-1: #aa00ff;
  --colors-plum-alpha-2: #c000c0;
  --colors-plum-alpha-3: #cc00cc;
  --colors-plum-alpha-4: #c200c9;
  --colors-plum-alpha-5: #b700bd;
  --colors-plum-alpha-6: #a400b0;
  --colors-plum-alpha-7: #9900a8;
  --colors-plum-alpha-8: #9000a5;
  --colors-plum-alpha-9: #89009e;
  --colors-plum-alpha-10: #7f0092;
  --colors-plum-alpha-11: #730086;
  --colors-plum-alpha-12: #40004b;
  --colors-sky-alpha-1: #00d5ff;
  --colors-sky-alpha-2: #00a4db;
  --colors-sky-alpha-3: #00b3ee;
  --colors-sky-alpha-4: #00ace4;
  --colors-sky-alpha-5: #00a1d8;
  --colors-sky-alpha-6: #0092ca;
  --colors-sky-alpha-7: #0089c1;
  --colors-sky-alpha-8: #0085bf;
  --colors-sky-alpha-9: #00c7fe;
  --colors-sky-alpha-10: #00bcf3;
  --colors-sky-alpha-11: #00749e;
  --colors-sky-alpha-12: #002540;
  --colors-mint-alpha-1: #00d5aa;
  --colors-mint-alpha-2: #00b18a;
  --colors-mint-alpha-3: #00d29e;
  --colors-mint-alpha-4: #00cc99;
  --colors-mint-alpha-5: #00c091;
  --colors-mint-alpha-6: #00b086;
  --colors-mint-alpha-7: #00a17d;
  --colors-mint-alpha-8: #009e7f;
  --colors-mint-alpha-9: #00d3a5;
  --colors-mint-alpha-10: #00c399;
  --colors-mint-alpha-11: #007763;
  --colors-mint-alpha-12: #00312a;
  --colors-lime-alpha-1: #669900;
  --colors-lime-alpha-2: #6b9500;
  --colors-lime-alpha-3: #96c800;
  --colors-lime-alpha-4: #8fc600;
  --colors-lime-alpha-5: #81bb00;
  --colors-lime-alpha-6: #72aa00;
  --colors-lime-alpha-7: #619900;
  --colors-lime-alpha-8: #559200;
  --colors-lime-alpha-9: #93e400;
  --colors-lime-alpha-10: #8fdc00;
  --colors-lime-alpha-11: #375f00;
  --colors-lime-alpha-12: #1e2900;
  --colors-yellow-alpha-1: #aaaa00;
  --colors-yellow-alpha-2: #f4dd00;
  --colors-yellow-alpha-3: #ffee00;
  --colors-yellow-alpha-4: #ffe301;
  --colors-yellow-alpha-5: #ffd500;
  --colors-yellow-alpha-6: #ebbc00;
  --colors-yellow-alpha-7: #d2a100;
  --colors-yellow-alpha-8: #c99700;
  --colors-yellow-alpha-9: #ffe100;
  --colors-yellow-alpha-10: #ffdc00;
  --colors-yellow-alpha-11: #9e6c00;
  --colors-yellow-alpha-12: #2e2000;
  --colors-amber-alpha-1: #c08000;
  --colors-amber-alpha-2: #f4d100;
  --colors-amber-alpha-3: #ffde00;
  --colors-amber-alpha-4: #ffd400;
  --colors-amber-alpha-5: #f8cf00;
  --colors-amber-alpha-6: #eab500;
  --colors-amber-alpha-7: #dc9b00;
  --colors-amber-alpha-8: #da8a00;
  --colors-amber-alpha-9: #ffb300;
  --colors-amber-alpha-10: #ffb300;
  --colors-amber-alpha-11: #ab6400;
  --colors-amber-alpha-12: #341500;
  --colors-gray-alpha-1: #000000;
  --colors-gray-alpha-2: #000000;
  --colors-gray-alpha-3: #000000;
  --colors-gray-alpha-4: #000000;
  --colors-gray-alpha-5: #000000;
  --colors-gray-alpha-6: #000000;
  --colors-gray-alpha-7: #000000;
  --colors-gray-alpha-8: #000000;
  --colors-gray-alpha-9: #000000;
  --colors-gray-alpha-10: #000000;
  --colors-gray-alpha-11: #000000;
  --colors-gray-alpha-12: #000000;
  --colors-mauve-alpha-1: #550055;
  --colors-mauve-alpha-2: #2b0055;
  --colors-mauve-alpha-3: #300040;
  --colors-mauve-alpha-4: #200036;
  --colors-mauve-alpha-5: #200038;
  --colors-mauve-alpha-6: #140035;
  --colors-mauve-alpha-7: #100033;
  --colors-mauve-alpha-8: #080031;
  --colors-mauve-alpha-9: #05001d;
  --colors-mauve-alpha-10: #050019;
  --colors-mauve-alpha-11: #040011;
  --colors-mauve-alpha-12: #020008;
  --colors-slate-alpha-1: #000055;
  --colors-slate-alpha-2: #000055;
  --colors-slate-alpha-3: #000033;
  --colors-slate-alpha-4: #00002d;
  --colors-slate-alpha-5: #000932;
  --colors-slate-alpha-6: #00002f;
  --colors-slate-alpha-7: #00062e;
  --colors-slate-alpha-8: #000830;
  --colors-slate-alpha-9: #1c2024;
  --colors-slate-alpha-10: #00071b;
  --colors-slate-alpha-11: #000714;
  --colors-slate-alpha-12: #000509;
  --colors-sage-alpha-1: #008040;
  --colors-sage-alpha-2: #004020;
  --colors-sage-alpha-3: #002d1e;
  --colors-sage-alpha-4: #001f15;
  --colors-sage-alpha-5: #001808;
  --colors-sage-alpha-6: #00140d;
  --colors-sage-alpha-7: #00140a;
  --colors-sage-alpha-8: #000f08;
  --colors-sage-alpha-9: #00110b;
  --colors-sage-alpha-10: #00100a;
  --colors-sage-alpha-11: #000a07;
  --colors-sage-alpha-12: #000805;
  --colors-olive-alpha-1: #005500;
  --colors-olive-alpha-2: #004900;
  --colors-olive-alpha-3: #002000;
  --colors-olive-alpha-4: #001600;
  --colors-olive-alpha-5: #001800;
  --colors-olive-alpha-6: #001400;
  --colors-olive-alpha-7: #000f00;
  --colors-olive-alpha-8: #040f00;
  --colors-olive-alpha-9: #050f00;
  --colors-olive-alpha-10: #040e00;
  --colors-olive-alpha-11: #020a00;
  --colors-olive-alpha-12: #010600;
  --colors-sand-alpha-1: #555500;
  --colors-sand-alpha-2: #252500;
  --colors-sand-alpha-3: #201000;
  --colors-sand-alpha-4: #1f1500;
  --colors-sand-alpha-5: #1f1800;
  --colors-sand-alpha-6: #191300;
  --colors-sand-alpha-7: #191400;
  --colors-sand-alpha-8: #191501;
  --colors-sand-alpha-9: #0f0f00;
  --colors-sand-alpha-10: #0c0c00;
  --colors-sand-alpha-11: #080800;
  --colors-sand-alpha-12: #060500;
  --colors-bronze-alpha-1: #550000;
  --colors-bronze-alpha-2: #cc3300;
  --colors-bronze-alpha-3: #922500;
  --colors-bronze-alpha-4: #802800;
  --colors-bronze-alpha-5: #742300;
  --colors-bronze-alpha-6: #732400;
  --colors-bronze-alpha-7: #6c1f00;
  --colors-bronze-alpha-8: #671c00;
  --colors-bronze-alpha-9: #551a00;
  --colors-bronze-alpha-10: #4c1500;
  --colors-bronze-alpha-11: #3d0f00;
  --colors-bronze-alpha-12: #1d0600;
  --colors-gold-alpha-1: #555500;
  --colors-gold-alpha-2: #9d8a00;
  --colors-gold-alpha-3: #756000;
  --colors-gold-alpha-4: #6b4e00;
  --colors-gold-alpha-5: #604600;
  --colors-gold-alpha-6: #644400;
  --colors-gold-alpha-7: #634200;
  --colors-gold-alpha-8: #633d00;
  --colors-gold-alpha-9: #533200;
  --colors-gold-alpha-10: #492d00;
  --colors-gold-alpha-11: #362100;
  --colors-gold-alpha-12: #130c00;
  --overlays-white-alpha-1: #ffffff;
  --overlays-white-alpha-2: #ffffff;
  --overlays-white-alpha-3: #ffffff;
  --overlays-white-alpha-4: #ffffff;
  --overlays-white-alpha-5: #ffffff;
  --overlays-white-alpha-6: #ffffff;
  --overlays-white-alpha-7: #ffffff;
  --overlays-white-alpha-8: #ffffff;
  --overlays-white-alpha-9: #ffffff;
  --overlays-white-alpha-10: #ffffff;
  --overlays-white-alpha-11: #ffffff;
  --overlays-white-alpha-12: #ffffff;
  --variables-misc-white-to-dark: var(--colors-default-white);
  --variables-misc-backdrop: var(--colors-neutral-neutral-alpha-8);
  --variables-effects-translucent: #ffffff;
  --variables-effects-solid: var(--colors-default-white);
  --variables-misc-white-to-dark-2: #ffffff;
  --variables-misc-dark-to-white: var(--colors-neutral-neutral-12);
  --colors-ruby-1: #fffcfd;
  --colors-ruby-2: #fff7f9;
  --colors-ruby-3: #feeff3;
  --colors-ruby-4: #ffdce1;
  --colors-ruby-5: #ffced6;
  --colors-ruby-6: #f8bfc8;
  --colors-ruby-7: #efacb8;
  --colors-ruby-8: #e592a3;
  --colors-ruby-9: #e54666;
  --colors-ruby-10: #dc3b5d;
  --colors-ruby-11: #ca244d;
  --colors-ruby-12: #64172b;
  --colors-ruby-alpha-1: #ff0055;
  --colors-ruby-alpha-2: #ff0020;
  --colors-ruby-alpha-3: #f30025;
  --colors-ruby-alpha-4: #ff0025;
  --colors-ruby-alpha-5: #ff002a;
  --colors-ruby-alpha-6: #e40024;
  --colors-ruby-alpha-7: #ce0025;
  --colors-ruby-alpha-8: #c30028;
  --colors-ruby-alpha-9: #db002c;
  --colors-ruby-alpha-10: #d2002c;
  --colors-ruby-alpha-11: #c10030;
  --colors-ruby-alpha-12: #550016;
  --colors-iris-alpha-1: #0000ff;
  --colors-iris-alpha-2: #0000ff;
  --colors-iris-alpha-3: #0011ee;
  --colors-iris-alpha-4: #000bff;
  --colors-iris-alpha-5: #000eff;
  --colors-iris-alpha-6: #000aff;
  --colors-iris-alpha-7: #0008e6;
  --colors-iris-alpha-8: #0008d9;
  --colors-iris-alpha-9: #0000c0;
  --colors-iris-alpha-10: #0000b6;
  --colors-iris-alpha-11: #0600ab;
  --colors-iris-alpha-12: #000246;
  --colors-iris-1: #fdfdff;
  --colors-iris-2: #f8f8ff;
  --colors-iris-3: #f0f1fe;
  --colors-iris-4: #e6e7ff;
  --colors-iris-5: #dadcff;
  --colors-iris-6: #cbcdff;
  --colors-iris-7: #b8baf8;
  --colors-iris-8: #9b9ef0;
  --colors-iris-9: #5b5bd6;
  --colors-iris-10: #5151cd;
  --colors-iris-11: #5753c6;
  --colors-iris-12: #272962;
  --colors-jade-1: #fbfefd;
  --colors-jade-2: #f4fbf7;
  --colors-jade-3: #e6f7ed;
  --colors-jade-4: #d6f1e3;
  --colors-jade-5: #c3e9d7;
  --colors-jade-6: #acdec8;
  --colors-jade-7: #8bceb6;
  --colors-jade-8: #56ba9f;
  --colors-jade-9: #29a383;
  --colors-jade-10: #26997b;
  --colors-jade-11: #208368;
  --colors-jade-12: #1d3b31;
  --colors-jade-alpha-1: #00c080;
  --colors-jade-alpha-2: #00a346;
  --colors-jade-alpha-3: #00ae48;
  --colors-jade-alpha-4: #00a851;
  --colors-jade-alpha-5: #00a255;
  --colors-jade-alpha-6: #009a57;
  --colors-jade-alpha-7: #00945f;
  --colors-jade-alpha-8: #00976e;
  --colors-jade-alpha-9: #00916b;
  --colors-jade-alpha-10: #008764;
  --colors-jade-alpha-11: #007152;
  --colors-jade-alpha-12: #002217;
  --colors-custom-1: #fcfcfc;
  --colors-custom-2: #f9f9f9;
  --colors-custom-3: #f0f0f0;
  --colors-custom-4: #e8e8e8;
  --colors-custom-5: #e1e1e1;
  --colors-custom-6: #d9d9d9;
  --colors-custom-7: #cecece;
  --colors-custom-8: #bbbbbb;
  --colors-custom-9: #000000;
  --colors-custom-10: #2e2e2e;
  --colors-custom-11: #646464;
  --colors-custom-12: #202020;
  --colors-custom-alpha-1: #000000;
  --colors-custom-alpha-2: #000000;
  --colors-custom-alpha-3: #000000;
  --colors-custom-alpha-4: #000000;
  --colors-custom-alpha-5: #000000;
  --colors-custom-alpha-6: #000000;
  --colors-custom-alpha-7: #000000;
  --colors-custom-alpha-8: #000000;
  --colors-custom-alpha-9: #000000;
  --colors-custom-alpha-10: #000000;
  --colors-custom-alpha-11: #000000;
  --colors-custom-alpha-12: #000000;
  --custom-semantic-error-1: #fbecec;
  --custom-semantic-error-2: #f8d9d9;
  --custom-semantic-error-4: #f1b3b3;
  --custom-semantic-error-3: #f4c6c6;
  --custom-semantic-error-5: #ea8e8e;
  --custom-semantic-error-6: #e36868;
  --custom-semantic-error-7: #dc4242;
  --custom-semantic-error-8: #b03535;
  --custom-semantic-error-9: #842828;
  --custom-semantic-error-10: #581a1a;
  --custom-semantic-error-11: #421414;
  --custom-semantic-error-12: #2c0d0d;
  --custom-semantic-warning-3: #faefc9;
  --custom-semantic-warning-1: #fdfaed;
  --custom-semantic-warning-4: #f9e9b7;
  --custom-semantic-warning-2: #fcf4db;
  --custom-semantic-warning-5: #f5df94;
  --custom-semantic-warning-6: #f2d470;
  --custom-semantic-warning-7: #efc94c;
  --custom-semantic-warning-8: #c3a43d;
  --custom-semantic-warning-9: #977e2e;
  --custom-semantic-warning-10: #6a5920;
  --custom-semantic-warning-12: #3e3311;
  --custom-semantic-warning-11: #544618;
  --custom-semantic-success-1: #ecf8ec;
  --custom-semantic-success-2: #d9f1da;
  --custom-semantic-success-4: #b3e4b5;
  --custom-semantic-success-3: #c6ebc7;
  --custom-semantic-success-5: #8cd68f;
  --custom-semantic-success-6: #66c96a;
  --custom-semantic-success-8: #339637;
  --custom-semantic-success-7: #40bb45;
  --custom-semantic-success-12: #0d250e;
  --custom-semantic-success-9: #267029;
  --custom-semantic-success-11: #133815;
  --custom-semantic-success-10: #1a4b1c;
  --custom-semantic-info-1: #e9f3fc;
  --custom-semantic-info-2: #d3e7f9;
  --custom-semantic-info-8: #1d6db3;
  --custom-semantic-info-3: #bddbf6;
  --custom-semantic-info-9: #165286;
  --custom-semantic-info-10: #0e365a;
  --custom-semantic-info-4: #a7cff3;
  --custom-semantic-info-5: #7cb8ec;
  --custom-semantic-info-11: #0b2943;
  --custom-semantic-info-6: #50a0e6;
  --custom-semantic-info-7: #2488e0;
  --custom-semantic-info-12: #071b2d;
  --custom-ocean-1: #ecf2f9;
  --custom-ocean-2: #d9e5f2;
  --custom-ocean-3: #c5d9ec;
  --custom-ocean-4: #b2cce6;
  --custom-ocean-5: #8cb2d9;
  --custom-ocean-11: #13263a;
  --custom-ocean-10: #19334d;
  --colors-custom-alpha-7-2: #ffffff;
  --custom-ocean-12: #0d1926;
  --custom-ocean-6: #6599cd;
  --custom-ocean-8: #32669a;
  --custom-ocean-7: #3f7fc0;
  --custom-ocean-9: #264c73;
}
